<p-table
  [columns]="cols"
  [value]="data"
  selectionMode="multiple"
  [metaKeySelection]="true"
  [(selection)]="selectedItem"
  responsiveLayout="scroll"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableRadioButton
          (click)="onSelectItem()"
          [value]="rowData"
        ></p-tableRadioButton>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
</p-table>
