<div>
  <input
    hidden
    #fileInput
    type="file"
    (change)="onFileChange($event)"
    accept="image/*"
  />
  <div
    (click)="fileInput.click()"
    class="border border-dashed border-gray-600 text-center p-4"
  >
    <i *ngIf="!image.length" class="pi pi-plus text-gray-600"></i>
    <img
      *ngIf="image.length"
      [src]="image"
      alt="image"
      width="150"
      height="150"
      class="relative left-1/2 -translate-x-1/2"
    />
  </div>
</div>
