<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="p-fluid">
    <div>
      <label for="amount" class="block mb-2 text-sm font-medium text-gray-900"
        >Amount</label
      >
      <input
        formControlName="amount"
        type="number"
        id="amount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500"
        pInputText
      />
    </div>
    <div class="mt-3">
      <label for="date" class="block mb-2 text-sm font-medium text-gray-900"
        >Date</label
      >
      <p-calendar
        id="date"
        formControlName="date"
        [minDate]="date"
        [maxDate]="maxDate"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        [showIcon]="true"
      ></p-calendar>
    </div>
    <div class="mt-3">
      <label for="date" class="block mb-2 text-sm font-medium text-gray-900"
        >Status</label
      >
      <p-dropdown
        formControlName="status"
        [options]="dropdownOptions"
        placeholder="Select an option"
      ></p-dropdown>
    </div>
    <div class="mt-3">
      <label for="date" class="block mb-2 text-sm font-medium text-gray-900"
        >Source of fund</label
      >
      <input formControlName="sourceOfFund" type="text" pInputText />
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="p-button p-button-sm">Submit</button>
  </div>
</form>
