<div
  class="grid xl:grid-cols-8 lg:grid-cols-8 md:grid-cols-2 sm:grid-cols-2 xs:grid-cols-1 gap-5 m-2"
>
  <div
    class="lg:col-start-2 lg:col-span-3 md:col-start-1 md:col-end-2 sm:col-start-1 sm:col-end-3 xs:col-start-1 xs:col-end-1 m-3 md:m-0 md:mt-3"
  >
    <div class="text-center font-bold">
      <h1>Fintranet</h1>
    </div>
    <div class="mt-2">
      <app-image-upload></app-image-upload>
    </div>
    <div class="mt-5">
      <app-form></app-form>
    </div>
  </div>
  <div
    class="lg:col-span-3 md:col-start-2 md:col-end-2 sm:col-start-1 sm:col-end-3 xs:col-start-1 xs:col-end-1 m-3 md:m-0 md:mt-3"
  >
    <div class="mt-5">
      <app-table-step></app-table-step>
    </div>
    <div class="mt-5">
      <app-summery></app-summery>
    </div>
  </div>
</div>
