<div *ngIf="image$ | async">
  <img [src]="image$ | async" alt="img" width="100" height="100" />
</div>
<div class="mt-5" *ngIf="form$ | async">
  <span>Form Values: </span>
  {{ form$ | async | json }}
</div>
<div class="mt-5" *ngIf="tableRow$ | async">
  <span>Selected Person: </span>
  {{ tableRow$ | async | json }}
</div>
